<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mothers at Work</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  
    <!-- Header -->
    <header role="banner">
      <nav class="navbar navbar-expand-lg navbar-custom" id=box1>
        <a  id="Machine" href="/">Mothers at Work</a>

        <div class="container">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5">
              <li class="nav-item">
                <a class="nav-link" id="otherfonts" href="/project.html">Project Explanation</a>
              </li>
              <li>
                <a class="nav-link" id="otherfonts" href="/Visualisations.html">Visualisations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="otherfonts" href="/questions.html">Questionnaire</a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto">
              <li><a href="https://github.com/AmyAndersson"  id= "box2" target="_blank" class="btn btn-outline-dark" >Amy Andersson</a></li>
            </ul>
            
          </div>
        </div>
      </nav>


  <div class= "container-fluid"></div> 
      <style>
          body {
  
  background: url('static/images/Workplace-In-2019.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
       }
      </style>
      <div class="box_comp2"> 
        <h1 id="otherfonts"> Mothers at Work</h1>

        <p> Is it possible to accurately predict if a woman will return to work after having a baby? </p>
        
        <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>

        <h1 id="otherfonts">Project Intent </h1>

       <p>The purpose of this project was to see what affects the likelyhood of a woman returning to work after having a baby , with data obtained from <a href="https://data.oecd.org/">OECD.org</a> as well as a survery sent out to the mothers of Perth. Using predicitive analytics to create a model based on survey results, a website was built to provide employers a place to go to assess the likelyhood of their employee returing to work.   </p>
       
       <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>

        <h1 id="otherfonts" >Methodology </h1>

       <p>Firstly, collected data was cleaned and investigated. Maternal empoloyment rates from countries around the world are presented on the Visualisations page.  </p>
       <p>Secondly, a small scale study was undertaken, asking women on different social media platforms questions about thier current employment status. The results of this were cleaned and used to produce a logistical regression model for predicting if a woman will return to work. </p>
       <p> Finally, a website was built, giving the model value to nervous employers! </p>
      
       <p>For code examples..... <a href="/Machinelearning.html">click here</a></p>
       <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>

       <h1 id="otherfonts" >Limitations and model betterment </h1>

        <p>More questions in survey</p>
        <p>More respondants to a wider audience</p>
        <p>More model refinement</p>

      
      </div>


    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/main.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
