<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mothers at Work</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
  
    <!-- Header -->
    <header role="banner">
      <nav class="navbar navbar-expand-lg navbar-custom" id="box1">
        <div class="container">
          <a class="navbar-brand" id="Machine" href="index.html">Machine Learning</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5">
              <li class="nav-item">
                <a class="nav-link active" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="data.html">Data Sources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="dashboard.html">Dashboard</a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto">
              <li><a href="https://github.com/AmyAndersson" target="_blank" class="btn btn-primary px-3 py-2" >Amy Andersson</a></li>
            </ul>
            
          </div>
        </div>
      </nav>
    </header>

  <div class= "container-fluid"></div> 
      <style>
          body {
  
          background: url('../images/face_background.jpg') no-repeat center center fixed;
          background-size: cover;
          margin: 0; /* to remove the default white margin of body */
          padding: 0; /* to remove the default white margin of body */
          overflow: hidden;
               }

      </style>
        <div class="col-md-12 col-sm-12">  
   
          <div class="row">
            <div class="box_comp">   
              <h1> Emplyer Questionaire</h1>

              <p class="text1">Employee Age</p>
              <section>
                <div class="row">
                  <div class="form-group">

                    <input type="text" class="form-control" id="formGroupExampleInput"  placeholder="Age" >

                  </div>
                </div>
              </section>

              <hr>
              <p class="text1">How many other children does your employee already have?</p>
              <section>
                <div class="row">
                  <div class="col-lg-6 d-flex justify-content-center text-center">
                    <select id="selNumKids" onchange="kids(this.value)"></select>
                  </div>
                </div>
              </section>
                <hr>

              <p class="text1">Highest level of education?</p>
              <section>
                <div class="row">
                  <div class="col-lg-6 d-flex justify-content-center text-center">
                    <select id="education" onchange="Education(this.value)"></select>
                  </div>
                </div>
              </section>
              <hr>
              <p class="text1">Level of employment before birth of first child?</p>
              <section>
                <div class="row">
                  <div class="col-lg-6 d-flex justify-content-center text-center">
                    <select id="empLevel" onchange="emplLevel(this.value)"></select>
                  </div>
                </div>
              </section>
              <hr>
              <p class="text1">Partnered status</p>
              <section>
                <div class="row">
                  <div class="col-lg-6 d-flex justify-content-center text-center">
                    <select id="partner" onchange="partner(this.value)"></select>
                  </div>
                </div>
              </section>
              <hr>
              <p class="text1">Will you provide maternity leave?</p>
              <section>
                <div class="row">
                  <div class="col-lg-6 d-flex justify-content-center text-center">
                    <select id="matleave" onchange="MatLeave(this.value)"></select>
                  </div>
                </div>
              </section>
              <hr>
              <p class="text1">Is your employee eligable for CSS(Child Care Subsidy)</p>
              <section>
                <div class="row">
                  <div class="col-lg-6 d-flex justify-content-center text-center">
                    <select id="cssElig" onchange="CssFunc(this.value)"></select>
                  </div>
                </div>
              </section>
              <hr>
              <p class="text1">Does your employee have unpaid help?</p>
              <section>
                <div class="row">
                  <div class="col-lg-6 d-flex justify-content-center text-center">
                    <select id="help" onchange="help(this.value)"></select>
                  </div>
                </div>
              </section>
              <hr>

            </div>
          </div>
          </div>
        </div>
      </div>
          
      <div class="col-md-12 col-sm-12">  
        <div class="row">
          <p><a class="btn btn-primary btn-lg btn-block" href="#####" role="button">Will she return?</a></p>
        
        

        </div>
          <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/js/main.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
</body>

</html>
